body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 2, 49);
    color: white;
}

.top {
    text-align: center;
}

.logo {
    font-size: 62px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
    color: rgb(47, 0, 255);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    background: url("starwars.gif");
    border-radius: 10px;
}

.logo-name {
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
    color: rgb(30, 245, 245);
    text-shadow: 0 0 5px #4d4dff,
    0 0 10px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff;
    text-decoration: underline;
}

.main {
    max-width: 800px;
    margin: auto;
}

.footer {
    text-align: center;
    color: rgb(255, 251, 251);
    font-weight: bold;
    padding: 16px;
}

.image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 5px #4d4dff;
    border-radius: 10px;
}

img {
    color: rgb(30, 245, 245);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
}

a {
    text-decoration: none;
    /* text-align: center;
    padding: 20 20; */
}

.weblink {
    color: rgb(30, 245, 245);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    transition: 0.5s
}

.weblink:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    text-decoration: underline;
}

.info {
    display: inline-block;
    text-decoration: underline;
    font-size: bold;
    color: rgb(30, 245, 245);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    transition: color 0.5s
}

.info:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
}

.btn {
    background: none;
    border: 2px solid rgb(55, 0, 255);
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.5s linear;
    position: relative;
    color: rgb(30, 245, 245);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    box-shadow: 0 0 5px black;
    box-shadow: inset 0 0 5px black;
}

.btn:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    box-shadow: inset 0 0 5px black;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(30, 245, 245);
    z-index: -1;
    transition: transform 0.8s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    box-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
}

.btn2::before {
    transform: scaleY(0);
}

.btn2:hover::before {
    transform: scaleY(1);
}

.txtcolor {
    color: rgb(30, 245, 245);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    transition: 0.5s
}

.txtcolor:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #4d4dff,
    0 0 20px #4d4dff,
    0 0 40px #4d4dff,
    0 0 60px #4d4dff;
    text-decoration: underline;
}

/* @media (min-width: 1200px) {
    .image img {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@media (min-width: 576px) {
    .image img {
        position: absolute;
        width: 50%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
} */